### Dictionary Data Structure

- Rules and Guidelines of Dictionary Data Structure
  - Dictionary is the combination of keys and values
  - In Dictionary keys should be immutable where as values can be immutable or mutable
  - Dictionary like JSON (Java Script Object Notation)
  - Dictionary enclosed within the {}
  - Dictionary can be created using {} and using dict function

In [9]:
dct = dict()

In [11]:
dct

{}

In [15]:
d = {}
type(d)

dict

In [17]:
print([i for i in dir(dict) if "__" not in i])

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [19]:
# Every dictionary can be combination of key and its value.

In [21]:
employeeDB = {"EmployeeID" : [101,102,103,104,105],
              "EmployeeName" : ['Som','Vamsee','Anuj','Eric','Samar'],
              'Grade' : ["A",'A','A','A','A'],
              "City" : ['Chennai','Delhi','Noida','Sydney','GOA'],
              "Sales" : [100,200,250,100,230]
             }

In [23]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [100, 200, 250, 100, 230]}

In [25]:
# Access the keys of dictionary

In [27]:
employeeDB.keys()

dict_keys(['EmployeeID', 'EmployeeName', 'Grade', 'City', 'Sales'])

In [29]:
employeeDB.values()

dict_values([[101, 102, 103, 104, 105], ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'], ['A', 'A', 'A', 'A', 'A'], ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'], [100, 200, 250, 100, 230]])

In [31]:
# keys with items
employeeDB.items()

dict_items([('EmployeeID', [101, 102, 103, 104, 105]), ('EmployeeName', ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar']), ('Grade', ['A', 'A', 'A', 'A', 'A']), ('City', ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA']), ('Sales', [100, 200, 250, 100, 230])])

In [33]:
import pandas as pd

In [35]:
data = pd.DataFrame(employeeDB)

In [37]:
data

   EmployeeID EmployeeName Grade     City  Sales
0         101          Som     A  Chennai    100
1         102       Vamsee     A    Delhi    200
2         103         Anuj     A    Noida    250
3         104         Eric     A   Sydney    100
4         105        Samar     A      GOA    230

In [39]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [100, 200, 250, 100, 230]}

In [41]:
employeeDB.get("City")

['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA']

In [43]:
employeeDB.get("Salary")

In [45]:
employeeDB['City']

['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA']

In [47]:
employeeDB['Sales']

[100, 200, 250, 100, 230]

In [49]:
employeeDB['Salary']

KeyError: 'Salary'

In [53]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [100, 200, 250, 100, 230]}

In [57]:
employeeDB.update({"Sales" : [200,200]})

In [59]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [200, 200]}

In [61]:
# popitem

In [63]:
employeeDB.popitem?

Signature: employeeDB.popitem()
Docstring:
Remove and return a (key, value) pair as a 2-tuple.

Pairs are returned in LIFO (last-in, first-out) order.
Raises KeyError if the dict is empty.
Type:      builtin_function_or_method

In [65]:
dct = {1:10,"A" : 100, 1:111,"X" : 100}

In [67]:
dct

{1: 111, 'A': 100, 'X': 100}

In [69]:
dct.popitem()

('X', 100)

In [71]:
dct

{1: 111, 'A': 100}

In [73]:
dct.popitem()

('A', 100)

In [75]:
dct

{1: 111}

In [77]:
dct.popitem()

(1, 111)

In [79]:
dct

{}

In [81]:
dct.popitem()

KeyError: 'popitem(): dictionary is empty'

In [83]:
dct = {1:10,"A" : 100, 1:111,"X" : 100, "100" : [1.2,3,4,5]}

In [85]:
dct

{1: 111, 'A': 100, 'X': 100, '100': [1.2, 3, 4, 5]}

In [89]:
dct.pop("X")

100

In [91]:
dct

{1: 111, 'A': 100, '100': [1.2, 3, 4, 5]}

In [93]:
dct.pop('100')

[1.2, 3, 4, 5]

In [95]:
dct

{1: 111, 'A': 100}

# setDefault

Using this function we can set the default value of your dictionary key.

In [100]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [200, 200]}

In [102]:
employeeDB.setdefault('PAN','AAAAA-DDDD-A')

'AAAAA-DDDD-A'

In [104]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [200, 200],
 'PAN': 'AAAAA-DDDD-A'}

### Fromkeys

Using this function we can define the dictionary very quickly. This function will assign a key and value.

In [137]:
dict.fromkeys([10,20,40,50,60,10,10,10]) # fromkeys assign the value None : by default

{10: None, 20: None, 40: None, 50: None, 60: None}

In [109]:
dict.fromkeys([10,20,40,50,60],10)

{10: 10, 20: 10, 40: 10, 50: 10, 60: 10}

In [111]:
dict.fromkeys([10,20,40,50,60],[10,4,5])

{10: [10, 4, 5],
 20: [10, 4, 5],
 40: [10, 4, 5],
 50: [10, 4, 5],
 60: [10, 4, 5]}

### Interview Query

In [114]:
lstOfNumbers = [10,20,40,30,20,40,50,10,20,50,60,70,55]

In [116]:
list(set(lstOfNumbers))

[70, 40, 10, 50, 20, 55, 60, 30]

In [118]:
# We can not store the duplicate key in the dictionary

In [122]:
lstOfNumbers

[10, 20, 40, 30, 20, 40, 50, 10, 20, 50, 60, 70, 55]

In [126]:
list(dict.fromkeys(lstOfNumbers).keys())

[10, 20, 40, 30, 50, 60, 70, 55]

In [128]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['A', 'A', 'A', 'A', 'A'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [200, 200],
 'PAN': 'AAAAA-DDDD-A'}

In [132]:
employeeDB['Grade'] = ['B','B','B','B','B','B','B','B']

In [134]:
employeeDB

{'EmployeeID': [101, 102, 103, 104, 105],
 'EmployeeName': ['Som', 'Vamsee', 'Anuj', 'Eric', 'Samar'],
 'Grade': ['B', 'B', 'B', 'B', 'B', 'B', 'B', 'B'],
 'City': ['Chennai', 'Delhi', 'Noida', 'Sydney', 'GOA'],
 'Sales': [200, 200],
 'PAN': 'AAAAA-DDDD-A'}

### Note:

Python dictionary can hold structure or un-structure dataset efficiently.