### Python LOOPs:

* For Loop : This loop works on iterables objects.
* While Loop

### Syntax of Loop

In [ ]:
for yourVariable in Iterable:
    print(yourVariable)

In [3]:
name = "Monika Thakur"
for char in name:
    print(char, end = " ")

M o n i k a   T h a k u r

In [4]:
lstOfNumbers = [10,45,67,89,23,45,66,77,88,90,23,11]
for num in lstOfNumbers:
    print(num)

10
45
67
89
23
45
66
77
88
90
23
11

In [5]:
lstOfNumbers

[10, 45, 67, 89, 23, 45, 66, 77, 88, 90, 23, 11]

In [6]:
for num in lstOfNumbers:
    if num % 5 == 0:
        print(num, end = " ")

10 45 45 90

In [7]:
name

'Monika Thakur'

In [8]:
vowls = list("aeiouAEIOU")
vowls

['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

In [9]:
for char in name:
    if char in vowls:
        print(char, end = " ")

o i a a u

In [10]:
for char in name:
    if char not in vowls:
        print(char, end = " ")

M n k   T h k r

In [12]:
for char in name:
    if char not in vowls:
        if char != " ":
            print(char, end = " ")

M n k T h k r

### How to write tables using for loop:

In [16]:
for i in range(1,5):
    for j in range(1,5):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [19]:
a = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{a} x {i} = {a * i}")

Enter a number:  35

35 x 1 = 35
35 x 2 = 70
35 x 3 = 105
35 x 4 = 140
35 x 5 = 175
35 x 6 = 210
35 x 7 = 245
35 x 8 = 280
35 x 9 = 315
35 x 10 = 350

In [20]:
for i in range(1,6,5): # start : 1, end: 6 and stepsize : 5
    print(i)

1

In [21]:
for i in range(1,50,5): # start : 1, end: 6 and stepsize : 5
    print(i)

1
6
11
16
21
26
31
36
41
46

In [26]:
for i in range(1,6): 
    for j in range(1,10):
        print(f"{i} * {j} = {i*j}")
    print("_________")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
_________
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
_________
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
_________
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
_________
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
_________

### For with else

In [28]:
for num in range(2,21,2):
    print(num, end = " ")
else:
    print("\nNo number left in this range")

2 4 6 8 10 12 14 16 18 20
No number left in this range

In [34]:
lst = [10,20,33,44,55]
lstNum = ['Ten','Twenty','Thirty Three','Fourty Four','Fifty Five']

In [35]:
for pair in zip(lst,lstNum):
    print(pair)

(10, 'Ten')
(20, 'Twenty')
(33, 'Thirty Three')
(44, 'Fourty Four')
(55, 'Fifty Five')

In [45]:
lst = [10,20,33,44,55,1,3,22,33,44,56,78,90,78,60,49,28,47,10,29,49,58,33,
       57,34,56,33]

In [37]:
a = list("Kushagra")
b = list(range(0,len(a)))

In [38]:
a

['K', 'u', 's', 'h', 'a', 'g', 'r', 'a']

In [39]:
b

[0, 1, 2, 3, 4, 5, 6, 7]

In [40]:
for pair in zip(a,b):
    print(pair)

('K', 0)
('u', 1)
('s', 2)
('h', 3)
('a', 4)
('g', 5)
('r', 6)
('a', 7)

In [41]:
a = [1,2,3,4]
b = [11,12]

In [42]:
list(zip(a,b))

[(1, 11), (2, 12)]

In [46]:
print(lst)

[10, 20, 33, 44, 55, 1, 3, 22, 33, 44, 56, 78, 90, 78, 60, 49, 28, 47, 10, 29, 49, 58, 33, 57, 34, 56, 33]

### enumerate

Using this function we can generate index of an item, enumerate starts from 0 by default.

In [47]:
for pair in enumerate(lst):
    print(pair, end = " ")

(0, 10) (1, 20) (2, 33) (3, 44) (4, 55) (5, 1) (6, 3) (7, 22) (8, 33) (9, 44) (10, 56) (11, 78) (12, 90) (13, 78) (14, 60) (15, 49) (16, 28) (17, 47) (18, 10) (19, 29) (20, 49) (21, 58) (22, 33) (23, 57) (24, 34) (25, 56) (26, 33)

In [48]:
lst[10]

56

In [49]:
list(enumerate('upGrad'))

[(0, 'u'), (1, 'p'), (2, 'G'), (3, 'r'), (4, 'a'), (5, 'd')]

In [50]:
for pair in enumerate(lst):
    if pair[1] == 33:
        print(pair, end = " ")

(2, 33) (8, 33) (22, 33) (26, 33)

In [51]:
lst.count(33)

4

In [56]:
lst[2]

33

In [57]:
lst1 = [10, 20, 33, 44]

In [59]:
for pair in enumerate(lst1):
    print(pair[-1])

10
20
33
44

In [60]:
for pair in enumerate(lst1):
    print(pair[1])

10
20
33
44

### break and continue with for loop

In [61]:
print(lst)

[10, 20, 33, 44, 55, 1, 3, 22, 33, 44, 56, 78, 90, 78, 60, 49, 28, 47, 10, 29, 49, 58, 33, 57, 34, 56, 33]

In [75]:
i = 0
for num in lst:
    if num == 33:
        print(num, end = " ")
        i = i + 1
    else:
        print(num, end = " ")
    if i >= 3:
        break

10 20 33 44 55 1 3 22 33 44 56 78 90 78 60 49 28 47 10 29 49 58 33

In [65]:
print(lst)

[10, 20, 33, 44, 55, 1, 3, 22, 33, 44, 56, 78, 90, 78, 60, 49, 28, 47, 10, 29, 49, 58, 33, 57, 34, 56, 33]

In [73]:
# if your number is completely divisible by 16 then do not proceed
for num in lst:
    if num % 18 == 0:
        break
    else:
        print(num, end = " ")

10 20 33 44 55 1 3 22 33 44 56 78

In [74]:
# if number is divisible by 3 then skip that number
for num in lst:
    if num % 3 == 0:
        continue
    else:
        print(num, end = " ")

10 20 44 55 1 22 44 56 49 28 47 10 29 49 58 34 56

### While Loop

While loop basically work on based on the condition. If condition is evualted as True then ture part will be executed else False part will be executed.

### how to generate number from 1 to 10

In [76]:
i = 1
while i <= 10:
    print(i, end = " ")
    i = i + 1

1 2 3 4 5 6 7 8 9 10

In [77]:
i = 10
while i >= 1:
    print(i, end = " ")
    i = i - 1

10 9 8 7 6 5 4 3 2 1

In [78]:
lst = [1,2,3,4,1,2,3,2]

In [82]:
prod = 1
i = 0
while i < len(lst):
    prod = prod * lst[i]
    print(prod)
    i = i + 1
print(f"Final Product: {prod}")

1
2
6
24
24
48
144
288
Final Product: 288

### Developing a Game using Python While Loop:

https://www.youtube.com/watch?v=VauAiVixICU&list=PLWuFHho1zKhWb-f-SJAMUCK--f8PJlG46&index=25

In [83]:
i = 1
while i <= 100:
    if i == 20:
        break
    else:
        print(i)
        i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [84]:
i = 1
while i <= 100:
    if i % 10 ==0:
        continue
    else:
        print(i, end = " ")
        i = i + 1

1 2 3 4 5 6 7 8 9

KeyboardInterrupt:

### Examples of Break and Continue in While loop